div .awssld__content {
  background-color: transparent;
}
div .awssld {
  --organic-arrow-color: #ee2b47;
}
div .awssld__bullets {
  position: relative;
  bottom: 5px;
}

div .awssld__bullets button {
  background: #c6c6c6;
}
div .awssld__bullets .awssld__bullets--active {
  background-color: #ee2b47;
}

div .awssld__controls__arrow-left {
  right: -20px;
}
div .awssld__controls__arrow-right {
  left: -20px;
}
